.container {
    width: 100%;
    margin: 10px;
}

.direction {
    min-height: 35vw;
    min-width: 35vw;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
    box-shadow: 0 15px 60px hsla(0, 0%, 0%, 0.2);
}

.direction:active {
    transform: scale(1.1);
    transition: .1s;
}

.spaceRight {
    margin-right: 60px;
}

.name {
    margin-bottom: 10vh;
    font-size: 50px;
    color: white;
}

.horizontal {
    display: flex;
    justify-content: space-between;
}

.up {
    margin-bottom: -20px;
    background-image: url("../../images/up.svg");
    background-position: center;
    background-size: 76%;
    background-repeat: no-repeat;
}

.down {
    margin-top: -20px;
    background-image: url("../../images/down.svg");
    background-position: center;
    background-size: 76%;
    background-repeat: no-repeat;
}

.left {
    background-image: url("../../images/left.svg");
    background-position: center;
    background-size: 42%;
    background-repeat: no-repeat;
}

.right {
    background-image: url("../../images/right.svg");
    background-position: center;
    background-size: 42%;
    background-repeat: no-repeat;
}

.lower {
    margin: 0 0 -70px;
}
