:root {
  --primary-color: #006e06;
  --secondary-color: #0a1007;
}
.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #bdbdbd
}

* {
    margin: 0;
    padding: 0;
    border: none;
}