.App {
    text-align: center;
    min-height: 100vh;
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}